@model CLIENTVIDEO.ServiceReferenceVideo.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Videos : connexion";
}

<div class="content">
    <div class="register">
        <div class="col-md-6 login-left">
            <h3>New Customers</h3>
            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
            <a class="acount-btn" href="/Register/Index">Create an Account</a>
        </div>
        <div class="col-md-6 login-right">
            <h3>Registered Customers</h3>
            <p>If you have an account with us, please log in.</p>
            @using (Html.BeginForm("Connect", "Login"))
            {
                @Html.ValidationSummary(true)
                {
                    <div>
                        <span>Email Address<label>*</label></span>
                        @Html.TextBoxFor(model => model.email, new { @id = "username", @class = "form-control", placeholder = "Username or email" })
                    </div>

                    <div>
                        <span>Password<label>*</label></span>
                        @Html.PasswordFor(model => model.password, new { @id = "password", @class = "form-control", placeholder = "password" })
                    </div>

                    <a class="forgot" href="#">Forgot Your Password?</a>
                    <input type="submit" value="Login">

                }
            }

        </div>
        <div class="clearfix"> </div>
    </div>
</div>

